ul {
  list-style-type: none;
  text-align: left;
}

i {
  color: #f6c232;
  font-size: 40px;
  margin-right: 10px;
  line-height: 1;
  min-width: 10px;
}

.weather-app {
  max-width: 600px;
  margin: 20px 10px;
  padding: 20px;
  border: 5px solid #1d3652;
  border-radius: 1%;
  background-color: #1d3652;
  color: #5bd7dd;
}

.holder {
  margin: 10px 10px 20px 80px;
  width: 300px;
  border: 3px solid #224e73;
  border-radius: 50px;
  text-align: center;
  padding: 3px 10px;
  background-color: #c4dcdf;
}

.search-button {
  font-family: "Neucha";
  font-size: 20px;
  color: #224e73;
  background: #f6c232;
  border: 2px solid #224e73;
  border-radius: 10px;
  padding: 3px 10px;
}

.card-2 {
  max-width: 600px;
  border: 5px solid #224e73;
  border-radius: 50px;
  background: #c4dcdf;
  margin: 10px 60px 20px;
  padding: 0px;
}

.city {
  font-family: "Neucha";
  font-size: 40px;
  color: #32548b;
  text-align: center;
  margin: 20px 1px 1px;
  text-transform: capitalize;
}

.solid {
  color: #224e73;
  position: relative;
  top: -10px;
}

.day {
  font-family: "Neucha";
  font-size: 25px;
  color: #32548b;
}

.time {
  font-family: "Neucha";
  font-size: 25px;
  color: #32548b;
}

.sky {
  font-family: "Neucha";
  font-size: 25px;
  color: #32548b;
  text-transform: capitalize;
}

.weather-temperature {
  margin-top: -62px;
  margin-left: 22px;
}

.weather-temperature strong {
  font-family: "Neucha";
  font-size: 50px;
  color: #32548b;
  line-height: 1;
}

.weather-temperature .units {
  font-family: "Neucha";
  font-size: 20px;
  color: #32548b;
  position: relative;
  top: -22px;
}

.weather-temperature .active {
  color: #32548b;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.humidity {
  font-family: "Neucha";
  font-size: 17px;
  color: #32548b;
}

.wind {
  font-family: "Neucha";
  font-size: 17px;
  color: #32548b;
}

.col {
  text-align: center;
}

.weekday {
  font-family: "Neucha";
  margin: 10px 10px;
  font-size: 20px;
}

.temp {
  font-family: "Neucha";
  margin: 10px 15px;
  font-size: 20px;
}

.temp-min {
  opacity: 0.5;
}

.link {
  margin: -20px 90px;
}

.forecast-temp-min {
  opacity: 0.5;
}
