ul {
  list-style-type: none;
  text-align: left;
}

i {
  color: white;
  font-size: 40px;
  margin-right: 10px;
  line-height: 1;
}

.weather-app {
  max-width: 600px;
  margin: 20px 10px;
  padding: 20px;
  border: 5px solid #295174;
  border-radius: 1%;
}

.holder {
  margin: 10px 10px 20px 80px;
  width: 300px;
  border: 3px solid #295174;
  border-radius: 50px;
  text-align: center;
  padding: 3px 10px;
}

.search-button {
  font-family: "Neucha";
  font-size: 20px;
  color: #fff;
  background: #295174;
  border: 2px solid #295174;
  border-radius: 10px;
  padding: 3px 10px;
}

.card-2 {
  max-width: 600px;
  border: 5px solid #295174;
  border-radius: 50px;
  background: #295174;
  margin: 10px 60px 20px;
  padding: 0px;
}

.city {
  font-family: "Neucha";
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin: 20px 1px 1px;
  text-transform: capitalize;
}

.solid {
  color: #fff;
  position: relative;
  top: -10px;
}

.day {
  font-family: "Neucha";
  font-size: 25px;
  color: #fff;
}

.time {
  font-family: "Neucha";
  font-size: 25px;
  color: #fff;
}

.sky {
  font-family: "Neucha";
  font-size: 25px;
  color: #fff;
  text-transform: capitalize;
}

.weather-temperature {
  margin-top: -62px;
  margin-left: 22px;
}

.weather-temperature strong {
  font-family: "Neucha";
  font-size: 50px;
  color: #fff;
  line-height: 1;
}

.weather-temperature .units {
  font-family: "Neucha";
  font-size: 15px;
  color: #fff;
  position: relative;
  top: -22px;
}

.weather-temperature .active {
  color: #fff;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.humidity {
  font-family: "Neucha";
  font-size: 17px;
  color: #fff;
}

.wind {
  font-family: "Neucha";
  font-size: 17px;
  color: #fff;
}

.col {
  text-align: center;
}

.weekday {
  font-family: "Neucha";
  margin: 10px 10px;
  font-size: 20px;
}

.cloud-rain {
  font-size: 40px;
  margin: 10px 10px;
  color: #4380b0;
}

.cloud-1 {
  font-size: 40px;
  margin: 10px 10px;
  color: #29455b;
}

.sun {
  font-size: 40px;
  margin: 10px 10px;
  color: #f7e261;
}

.temp {
  font-family: "Neucha";
  margin: 10px 15px;
  font-size: 20px;
}

.temp-min {
  opacity: 0.5;
}

.link {
  display: block;
  margin: -20px 90px;
}
